/* userDefinedLinkHintCss.css
 * Custom CSS for vimium elements. */
:root {
	--link-color: 						#268bd2;
	--visited-color: 					#6c71c4;
	--selection-background-color: 		#cb4b16;
	--code-color: 						#2aa198;

	--blue: 							#268bd2;
	--cyan: 							#2aa198;
	--green: 							#859900;
	--yellow: 							#b58900;
	--orange: 							#cb4b16;
	--red: 								#dc322f;
	--magenta: 							#d33682;
	--violet: 							#6c71c4;
}

/* Set variables when the dark color scheme is active. */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: 				#002b36;
		--highlight-color: 					#073642;
		--accent-color: 					#b58900;
		--primary-content-color: 			#839496;
		--secondary-content-color: 			#586e75;
		--emphasized-content-color: 		#93a1a1;
		--selection-content-color: 			#eee8d5;
	}
}

/* Set variables when the light color scheme is active. */
@media (prefers-color-scheme: light) { 
	:root {
		--background-color: 				#fdf6e3;
		--highlight-color: 					#eee8d5;
		--accent-color: 					#859900;
		--primary-content-color: 			#657b83;
		--secondary-content-color: 			#93a1a1;
		--emphasized-content-color: 		#586e75;
		--selection-content-color: 			#073642;
	}
}


/* linkhint boxes */
div > .vimiumHintMarker {
	background: none;
	background-color: var(--link-color);
	box-shadow: none;
	border: none;
	border-radius: 3px;
}

/* linkhint text */
div > .vimiumHintMarker span {
	color: var(--highlight-color);
	font-family: 'Fira Code', monospace;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
}

div > .vimiumHintMarker > .matchingCharacter {
}

/* ################# */

/* input text-input back*/
input#vomnibarInput.vimiumReset {
	background-color: var(--highlight-color);
	color: var(--emphasized-content-color);
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

#vomnibar {
	background-color: var(--highlight-color);
	border-color: var(--highlight-color);
	box-shadow: none;
}

#vomnibar ::selection {
	background-color: var(--selection-background-color);
	color: var(--selection-content-color);
}

/* input frame */
#vomnibar .vomnibarSearchArea {
	background-color: var(--highlight-color);
	border-bottom: #3f3f3f;
	white-space: nowrap; /* Aligns the ::before colon and input. */
	font-size: 0px; /* Removes whitespace between ::before colon and input. */
}

#vomnibar .vomnibarSearchArea::before {
	color: var(--secondary-content-color);
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	font-weight: normal;
	content: ":";
	/* The following match the styling of #vomnibar input. */
	box-sizing: border-box;
	display: inline-block;
}

/* input border */
#vomnibar input {
	width: calc(100% - 12px); /* Shaves off extra length of ::before colon. */
	background-color: var(--highlight-color);
	border-color: var(--highlight-color);
	box-shadow: none;
	color: var(--primary-content-color);
	font-family: 'Fira Code', monospace;
	font-size: 20px; /* Default from vimium made explicit here. */
	display: inline-block;
	padding-left: 0px; /* Defaults to 4px; shifts closer to colon. */
	border-left: 0px; /* Defaults to 1px; shifts closer to colon. */
}

/* results background */
#vomnibar ul {
	background-color: var(--highlight-color);
}

#vomnibar li {
	border-bottom: #3f3f3f;
}

/* Second line URL */
#vomnibar li .vomnibarUrl {
	color: var(--link-color);
	font-family: 'Fira Code', monospace;
}

/* Second line URL-Match */
#vomnibar li .vomnibarMatch {
	color: var(--accent-color);
	font-weight: normal;
	font-family: 'Fira Code', monospace;
}

/* Selected */
#vomnibar li.vomnibarSelected {
	background-color: var(--background-color);
}

/* Title-Match */
#vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
	color: var(--accent-color);
	font-weight: normal;
	font-family: 'Fira Code', monospace;
}

/* Title */
#vomnibar li em, #vomnibar li .vomnibarTitle {
	color: var(--primary-content-color);
	font-family: 'Fira Code', monospace;
}

#vomnibar li .vomnibarSource {
	color: var(--secondary-content-color);
	font-family: 'Fira Code', monospace;
}
